
.header {
padding: 90px;
text-align: left;
background-color: black;
color: #f1f1f1;
text-size-adjust: p=30;

}


ul {
    list-style-type: none;
    align-items: baseline;
    margin: 28px;
    padding: 28px;
    width: 120px;
    background-color: rgb(133, 58, 120);
}

li a{
    display: block;
    color: #f1f1f1;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #555;
    color: #e9a62b
}

body {
    background-color: rgb(133, 58, 120);
    text-align: left;
    font-family:Impact, fantasy ;
    color:  #f1f1f1
}

p {
margin-top:50;
margin-bottom:50;
margin-left:50;
margin-right:50;

}

